* {
    box-sizing: border-box;
}


body {
    background-color: #fcfcfd;
}

footer {
    background-color: #0a0a0a;
}

footer a {
    color: #fcfcfd;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.container.blogs {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.container.blogs .blog-item {
    /*flex: 1;*/
    width: 32%;
}
